:root {
  --primary-font: Roboto, sans-serif;
  --primary-gray-color: #434455;
  --primary-white-color: #ffffff;
  --primary-skyblue-color: #4d5ae5;
  --primary-black-color: #2e2f42;
  --primary-blue-color: #404bbf;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-gray-color);
  height: Regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--primary-white-color);
}

ul {
  list-style-type: none;
}

.logo {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-skyblue-color);
}

.logo-link {
  color: var(--primary-black-color);
}

.logo .logo-link:hover,
.logo .logo-link:hover {
  color: var(--primary-blue-color);
}

.page-header {
  background: var(--primary-white-color);
}

.page-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  text-transform: uppercase;
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: var(--primary-blue-color);
}

.hero {
  background: var(--primary-black-color);
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-gray-color);
}

.our-team {
  background: #f4f4fd;
}

.address .address-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-gray-color);
}

.address .address-link:hover,
.address .address-link:focus {
  color: var(--primary-blue-color);
}

.button .button-link {
  cursor: pointer;
  background: var(--primary-skyblue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button .button-link:hover,
.button .button-link:focus {
  background: var(--primary-blue-color);
}

.button .button-link {
  cursor: pointer;
  background: #f4f4fd;
}

.btn .btn-link:hover,
.btn .btn-link:focus {
  background: var(--primary-blue-color);
}

.btn-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-skyblue-color);
}
